*{
    margin:0;
    padding:0;
    font-family: sans-serif;

}

.hero{
    position: relative;
    width: 100;
    height: 100vh;
    background: #dbc2db;
}

nav{
    display: flex;
    width: 84%;
    margin:auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style:none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration:dotted;
    color:#1d1c0a;
    font-weight:bold;
}

nav ul li a:hover{
    color:#ad7b8d;
}

.detel{
    margin-left: 8%;
    margin-top: 15%;
}
.detel h1{
    font-size: 50px;
    color:#4a2511;
    margin-bottom: 20px;
}

.detel span{
    color:#a88181;
    line-height: 22px;
}

.detel a{
    background: #bd9a9a;
    padding: 10px 18px;
    text-decoration: none;
    font-weight:bold;
    color:#4a2511;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 55%;
    height: 70%;
    position: absolute;
    bottom:0;
    right:100px;
}

.images img{
    height: 80%;
    position: absolute;
    left:70%;
    bottom:10%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 20px;
}

images:hover .me{
    left:5%;
}